connector.name=hive-hadoop2
hive.metastore.uri=thrift://metastore:9083

hive.allow-drop-table=true
hive.max-partitions-per-scan=1000000

hive.s3.endpoint=10.62.64.200
hive.s3.path-style-access=true
hive.s3.ssl.enabled=false
